<li id="question-<%= question.id %>">
  <%= link_to gravatar_for(question.user, size: 20), question.user %>
  <span class="user"><%= link_to question.user.name, question.user %></span>
  <%= link_to question.title, question_path(question), class: "title" %>
  <span class="body">
    <%= question.body %>    
  </span>
  <%= image_tag question.picture.url, class: "qtn-picture" if question.picture? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(question.created_at) %> ago.
    <% if current_user?(question.user) %>
      <%= link_to " Delete", question, method: :delete,
                                      data: { confirm: "You are about to delete this question. Are you sure?" },
                                            class: 'fa fa-trash text-danger' %>
    <% end %>
  </span>
</li>