<li id="question-<%= question.id %>">
  <div class="user">
    <%= link_to gravatar_for(question.user, size: 20), question.user %>
    <span class="user-name"><%= link_to question.user.name, question.user %></span>
    <span class="timestamp"> <%= question_date(question) %> </span>
  </div>
  <%= link_to question.body, question_path(question), class: "title" %>
  <%# <%= image_tag question.picture.url, class: "qtn-picture" if question.picture? %>
  <p class="question-info">
    <span class="q-answers">
      <i class="fas fa-comments"></i>
      <%= question.answers.count %> Answers
    </span>

    <% if current_user == question.user %>
      <span class="q-delete">
          <i class="fas fa-trash text-danger"></i>
          <%= link_to " Delete", question, method: :delete,
                                          data: { confirm: "You are about to delete this question. Are you sure?" },
                                                class: 'text-danger' %>        
      </span>
    <% end %>
  </p>
</li>