<% provide(:title, "New Question") %>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>New Question</h1>
 </div>
</div>      
    
    <div class="text-center">
<%= form_with scope: :question, url: questions_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
 