<% provide(:title, "New Question") %>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>New Question</h1>
 </div>
</div>      
    
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
            <%= form_with scope: :question, url: questions_path, local: true do |form| %>

            <% if @question.errors.any? %>
              <div class="errors_def" id="error_explanation">
                <h4>
                  <%= pluralize(@question.errors.count, "error") %> 
                  prohibited this question from being saved:
                </h4>
                <ul>
                  <% @question.errors.full_messages.each do |msg| %>
                    <li>
                      <div class="alert alert-danger"> <%= msg %></div>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              <p>
                <%= form.label :title %><br>
                <%= form.text_field :title, :class => 'form-control' %>
              </p>
        
              <p>
                <%= form.label :body %><br>
                <%= form.text_area :body, :class => 'form-control' %>
              </p>
        
              <p>
                <%= form.label :user_id %><br>
                <%= form.text_field :user_id, :class => 'form-control' %>
              </p>

              <p> 
                <%= form.submit 'Post Question', :class => 'btn btn-primary' %>
              </p>
          <% end %>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
 