<% provide(:title, "New Question") %>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>New Question</h1>
 </div>
</div>      
    
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
          <%= form_with scope: :question, url: questions_path, local: true, class: 'form-group' do |form| %>

            <%= render 'shared/question_errors'%>
            <%= form.label :title %><br>
            <%= form.text_field :title, :class => 'form-control' %>
    
            <%= form.label :body %><br>
            <%= form.text_area :body, :class => 'form-control' %>
    
            <%= form.label :user_id %><br>
            <%= form.text_field :user_id, :class => 'form-control' %>

            <%= form.submit 'Post Question', :class => 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
 