<% provide(:title, "#{@question.body}") %>

<div class = "container top-show-container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
          <div class="question card-body bg-light">
            <div class="question-owner">
              <%= link_to gravatar_for(@question.user, size: 20), @question.user %>
              <p>
                <%= link_to @question.user.name, user_path(@question.user_id)%> <span> <%= question_date(@question) %> </span>
              </p>
            </div>
             
            <h3><%= @question.body %></h3>

            <% if !@question.answers.empty? %>
              <hr/>
              <%= render 'answers/answer' %>
            <% end %>
            
            <hr/>
            <%= render 'answers/answer_form' %>
            
          </div>
          <% if @question.user == current_user %>
            <div class="card-footer question-edit"> 
              <span class="q-edit">
              <i class="fas fa-edit text-primary"></i>
              <%= link_to 'Edit', edit_question_path(@question), :class => 'text-default ' %>
              </span>

              <span class="q-delete">
                <i class="fas fa-trash text-danger"></i>
                <%= link_to ' Delete', question_path(@question),
                                          method: :delete,
                                          data: { confirm: 'You are about delete this question, Are you sure?'},
                                          :class => 'text-danger' %>
              </span>
            </div>
          <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header text-center">
          <h5> Most Recent </h5>
        </div>
        
        <div class="card-body">
          <% if @most_recent_questions.any? %>
            <ol class="questions">
                <%= render 'questions/most_recent' %>
            </ol>
          <% end %>
        </div>

      </div>
      
    </div>
  </div>  
</div>