<% provide(:title, "Login") %>

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Login</h1>      
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="signup-card" class="card col-md-6 col-md-offset-3">
      <div  class="card-body">
        <%= form_for(:session, url: login_path) do |form| %>
            <% #= render 'shared/error_messages' %>

            <%= form.label :email %>
            <%= form.text_field :email, :class => 'form-control' %>

            <%= form.label :password %>
            <%= form.password_field :password, :class => 'form-control' %>

            <%= form.label :remember_me, class: "checkbox inline" do %>
              <%= form.check_box :remember_me %>
              <span>Remember me on this device</span>              
            <% end %>

            <%= form.submit 'Login', :class => 'btn btn-primary' %>
                
        <% end %>

        <div>
            <p>New user? <%= link_to 'Sign up now!', signup_path%> </p>
        </div>
      </div>
    </div>
  </div>
</div>
