<% provide(:title, "SignUp") %>

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Sign Up</h1>      
  </div>
</div>

<div class="container">
  <div id="signup-card" class="card">
    <div  class="card-body">
      <%= form_with scope: :question, url: questions_path, local: true do |form| %>
          <h6 class="text-center">Create a free account for yourself</h6>
            <% if @question.errors.any? %>
              <div class="errors_def" id="error_explanation">
                <h4>
                  <%= pluralize(@question.errors.count, "error") %> 
                  prohibited this question from being saved:
                </h4>
                <ul>
                  <% @question.errors.full_messages.each do |msg| %>
                    <li>
                      <div class="alert alert-danger"> <%= msg %></div>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, :class => 'form-control' %>
              </div>
        
              <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, :class => 'form-control' %>
              </div>
        
              <div class="form-group">
                <%= form.label :password %>
                <%= form.text_field :password, :class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :confirm_password %>
                <%= form.text_field :confirm_password, :class => 'form-control' %>
              </div>

              <%= form.submit 'Create Account', :class => 'btn btn-primary' %>
              
          <% end %>
    </div>
  </div>
</div>
