<% provide(:title, "SignUp") %>

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Sign Up</h1>      
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="signup-card" class="card col-md-6 col-md-offset-3">
      <div  class="card-body">
        <%= form_for(@user, url: signup_path) do |form| %>
            <h6 class="text-center">Create a free account for yourself</h6>
              <%= render 'shared/error_messages' %>
                
                  <%= form.label :name %>
                  <%= form.text_field :name, :class => 'form-control' %>

                  <%= form.label :email %>
                  <%= form.text_field :email, :class => 'form-control' %>

                  <%= form.label :password %>
                  <%= form.password_field :password, :class => 'form-control' %>

                  <%= form.label :confirm_password %>
                  <%= form.password_field :confirm_password, :class => 'form-control' %>

                <%= form.submit 'Create Account', :class => 'btn btn-primary' %>
                
            <% end %>
      </div>
    </div>
  </div>
</div>
