<% provide(:title, @user.name) %>
<div class="container top-show-container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>

    <div class="col-md-8">
    <% if @user.questions.any? %>
      <h3>Questions Feed (<%= @user.questions.count %>)</h3>
      <ol class="questions">
        <%= render @questions %>
      </ol>
      <%= will_paginate @questions %>
    <% end %>
  </div>

  </div>
</div>