<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
<a class="navbar-brand" href="/home"><%= image_tag("logo.png", class: "img-responsive", id: "navbar-logo") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item"> <%= link_to "Home", root_path, :class => 'nav-link'%> </li>
      <li class="nav-item pr-50"> <%= link_to "Forum", questions_path, :class => 'nav-link'%></li>
      <% if current_user %>
      <li><%= link_to "Users", users_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= current_user.name%>
          </a>
          <div class="dropdown-menu">
            <%= link_to "Profile", current_user, :class => 'dropdown-item'%>
            <%= link_to "Settings", edit_user_registration_path, :class => 'dropdown-item'%>
            <%# <li class="divider"></li> %>
            <%= link_to "Logout",  destroy_user_session_path, method: :delete, :class => 'dropdown-item'%>
          </div>
        </li>
      <% else %>
        <li class="nav-item pr-50"> <%= link_to "SignUp", new_user_registration_path, :class => 'nav-link'%></li>
        <li class="nav-item"> <%= link_to "Login", new_user_session_path, :class => 'nav-link btn btn-primary btn-sm text-white'%></li>
      <% end %>
    </ul>
    </div>
    
</nav>