<nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Muvi", root_path, id: "logo", :class => 'navbar-brand' %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"> <%= link_to "Home", root_path, :class => 'nav-link'%> </li>
      <li class="nav-item"> <%= link_to "Help", help_path, :class => 'nav-link'%></li>
      <li class="nav-item"> <%= link_to "About", about_path, :class => 'nav-link'%></li>
      <% if logged_in? %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="#my-target">
          Account
        </a>
        <div id="my-target" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <% else %>
        <li class="nav-item pr-50"> <%= link_to "SignUp", signup_path, :class => 'nav-link'%></li>
        <li class="nav-item"> <%= link_to "Login", login_path, :class => 'nav-link btn btn-primary btn-sm text-white'%></li>
      <% end %>
    </ul>
</nav>