<nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Muvi", root_path, id: "logo", :class => 'navbar-brand' %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"> <%= link_to "Home", root_path, :class => 'nav-link'%> </li>
      <li class="nav-item"> <%= link_to "Help", help_path, :class => 'nav-link'%></li>
      <li class="nav-item"> <%= link_to "About", about_path, :class => 'nav-link'%></li>
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Account
          </a>
          <div class="dropdown-menu">
            <%= link_to "Profile", "#", :class => 'dropdown-item'%>
            <%= link_to "Settings", "#", :class => 'dropdown-item'%>
            <%= link_to "Logout", "#", :class => 'dropdown-item'%>
          </div>
        </li>
      <% else %>
        <li class="nav-item pr-50"> <%= link_to "SignUp", signup_path, :class => 'nav-link'%></li>
        <li class="nav-item"> <%= link_to "Login", login_path, :class => 'nav-link btn btn-primary btn-sm text-white'%></li>
      <% end %>
    </ul>
</nav>